@define-color colorPrimary #197BBD;
@define-color textColorPrimary #EAF3F9;

.coin_list {
	background-color: transparent;
}

.coin_list_row {
	border-bottom: 1px solid @menu_separator;
}

.price_label {
	font-size: 1.5em;
}